# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/

# Custom Python script
main.py

# Ignore hmap and pkl files
*.hmap_*.pkl
*.pkl
*.wbproj

# Ignore images in any output directory
*.jpg

# Ignore any recorded output numpy buffers
*.npy
*.keras
*.html
cell_names.txt

three_dim*
two_dim*
