# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/

# Custom Python script
main.py

# Ignore hmap and pkl files
*.hmap_*.pkl
*.pkl
*.wbproj
*cell_names.txt
*parameters.txt

# Ignore images in any output directory
*.jpg

# Ignore any recorded output numpy buffers
*.npy
*.keras
*.html

# Ignore jupyter notebook
*.ipynb*

#Data directory for Thesis
*IJCNN*
*archive*
*analysis*
*images*

# Ignore wbproj
*.wbproj